/* color: 
#D95F69
#F2E18D
#BFB99B
#F29544
#D9CEC1

#011126
#020659
#D9AC25
#A67D32
#0D0D0D

#6593A6
#58595B
#F2CF63
#F2C063*/

body {
    background-color: #2A2740;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 15px
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

h1 {
    font-weight: 300;
}

h3 {
    font-weight: 300;
}

.container {
    margin: 0 auto;
    width: 80%;
}

.div-tela-cadastro {
    height: 500px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    margin-top: 90px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 20px;
}

.left-cadastro {
    background-color: #593B54;
    width: 50%;
    height: 500px;
    border-radius: 10px 0 0 10px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.left-cadastro >p {
    font-size: 18px;
    color: white;
    font-weight: 300;
    margin-bottom: 50px;
}

.rigth-cadastro {
    background-color: #A68FA0;
    width: 50%;
    height: 500px;
    border-radius: 0 10px 10px 0;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.login-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.btn-cadastro {
    margin-top: 30px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 340px;
}

input {
    text-decoration-style: none;
    background-color: #A68FA0;
    color: #000;
    margin-bottom: 0;
    font-weight: 400;
    touch-action: manipulation;
    cursor: auto;
    border: 1px solid transparent;
    white-space: nowrap;
    font-size: 13px;
    line-height: 1.5384616;
    margin-top: 12px;
    border-bottom: 1px solid;
}

.nome-cadastro {
    display: flex;
}

textarea {
    width: 300px;
    height: 60px;
    color: white;
    text-align: center;
    padding-top: 45px;
    border: 1px solid transparent;
}

button {
    padding: 10px 5px;
    margin-top: 10px;
    border: none;
    width: 100px;
    background-color: #735557;
    color: #D9CEC1 ;
    cursor: pointer;
}

button:hover {
    background-color: #2A2740;
}

